[project]
	description = A client-side script to make it easier to work with Gerrit Code Review
[access "refs/*"]
	owner = group user/Jay Soffian (jaysoffian)
[access "refs/for/refs/*"]
	read = group user/Jay Soffian (jaysoffian)
	push = group user/Jay Soffian (jaysoffian)
	label-Code-Review = -2..+2 group user/Jay Soffian (jaysoffian)
	label-Verified = -1..+1 group user/Jay Soffian (jaysoffian)
	rebase = group user/Jay Soffian (jaysoffian)
	removeReviewer = group user/Jay Soffian (jaysoffian)
	submit = group user/Jay Soffian (jaysoffian)
[access "refs/heads/*"]
	read = group user/Jay Soffian (jaysoffian)
	create = group user/Jay Soffian (jaysoffian)
	push = +force group user/Jay Soffian (jaysoffian)
	pushMerge = group user/Jay Soffian (jaysoffian)
[access "refs/tags/*"]
	push = +force group user/Jay Soffian (jaysoffian)
	pushTag = group user/Jay Soffian (jaysoffian)
	pushSignedTag = group user/Jay Soffian (jaysoffian)
